html {
  background-color: black;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
text {
  transition-duration: 1s;
  font-weight: bold;
  }

.outerBox {
  font-size: 0.7em;
  background-color: black;
  color: #b3ceac;
  width: 80%;
  height: auto;
  border-radius: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
}
.quoteBox {
  text-align: center;
}  

img {
  width: 3%;
  height: 3%;
  }
.author {
  text-align: end;
}

.toolBox {
  color: #6b8864;
  font-size: 0.5em;
  text-align: center;
}

.newQuote:hover {
  cursor: pointer;
}
